/* Basic Styles */
body {
  /* background-image: url('src/vapor2.png'); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  background-image: linear-gradient(to right, #ff6f69, #ffa600);
}

/* Use modern font */
body {
  font-family: 'Montserrat', sans-serif;
}

/* Add a box-shadow */
section {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Use colorful and modern hover effect */
section h3:hover {
  transform: translateY(-5px);
  transition: all 0.2s ease-in-out;
}

/* Add a border-radius */
img {
  border-radius: 10px;
}

/* Add a border */
section#skills ul {
  border: 2px solid #ffa600;
  padding: 1em;
  border-radius: 10px;
}

/* Use different colors for different sections */
section#about {
  background-color: #ff6f69;
  color: #fff;
}
section#experience {
  background-color: #ffd600;
}
section#projects {
  background-color: #1e90ff;
  color: #fff;
}
section#education {
  background-color: #ffa600;
  color: #fff;
}
section#skills {
  background-color: #9acd32;
  color: #fff;
}
section#contact {
  background-color: #ff6f69;
  color:
